@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}

.nyc {
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin-top: 1rem;
}

.USA {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.USA_art {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

 #main {
     display: flex;
     flex-wrap: wrap;
     flex-direction:row;
     justify-content: center;
     max-width: 100%;
 }

 #art {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    max-width: 100%;
}

 #nyc {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     max-width: 100%;
 }
 
.article {
     box-shadow: 0 4px 5px rgb(0, 0, 0 / 20%);
     overflow: hidden;
     width: 25%;
     height: auto;
     margin: 1.2rem 1rem;
     transition: .3 ease-in;
     background-color: #f2f2f2;
 }

 .nyc h1 {
     text-align: center;
     font-size: 1.2rem;
     font-family: 'Lora', serif;
     text-decoration: underline;
 }

 .USA h1 {
    font-family: 'Lora', serif;
    text-decoration: underline;
    text-align: center;
    font-size: 2.4rem;
 }

 .USA_art h1 {
    font-family: 'Lora', serif;
    text-decoration: underline;
    text-align: center;
    font-size: 2.4rem;
 }

 .article:hover {
     transform: scale(1.01823456);
 }
 
 .article img {
     width: 100%;
 }

 .data {
    box-shadow: 0 4px 5px rgb(0, 0, 0 / 20%);
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: .5rem 1rem;
    background-color: #f2f2f2;
 }

 .data img {
     width: 100%;
 }
 
 .news-info {
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     padding: 0.5rem 1rem;
     letter-spacing: .5px;
     text-align: center;
     background-color: #f2f2f2;
 }
 .news-info h3{
     color: #036;
     margin: 0;
     
 }

 .news-info h3:hover {
     color: rgb(218, 5, 5);
 }
 
 .news-info span{
    border-radius: 3px;
    font-weight: bold;
    padding-top: 1rem;
    color: darkgrey;
    width: 100%;
    text-align: left;
    font-size: 12px;
 }

 .descrition, .summary {
    padding: 5px 20px;
}

 .article p {
    text-align: right;
    padding-right: 25px;
}

.data-info {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    letter-spacing: .5px;
    text-align: center;
    background-color: #f2f2f2;
}

.data-info h3 {
    color: #036;
    margin: 0;
}
 

.data-info h3:hover {
    color: rgb(218, 5, 5);
}

a:hover {
    color: rgb(218, 5, 5);
}

.extras {
    max-width: 100%;
    width: 82%;
    position: absolute;
    right: 0%;
    top: 586%;
}

footer{
    background-color: #0d3c6b;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
 
.contact-container ul li {
    list-style: none;
    width: 100%;
}

.contact-container ul {
    display: flex;
}

.contact-container a {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contactLogos {
    width: 4%;
    margin: 0 5px;
}

.contact-container img:hover {
    filter: brightness(100);
}

.contact-container span:hover {
    color: rgb(218, 5, 5);
}